@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --primary-background: 245 18% 12%;
    --secondary-background: 240 25% 21%;

    --primary-text: 240 9% 89%;

    --message-recipient: 259 52% 48%;
    --message-sender: 177 90% 27%;

    --highlight: 162 100% 35%;

    /* --- shadcn/ui --- */

    --background: var(--primary-background);
    --foreground: var(--primary-text);

    --card: var(--primary-background);
    --card-foreground: var(--primary-text);

    --popover: var(--primary-background);
    --popover-foreground: var(--primary-text);

    --primary: var(--message-sender);
    --primary-foreground: var(--primary-text);

    --secondary: var(--message-recipient);
    --secondary-foreground: var(--primary-text);

    --muted: var(--secondary-background);
    --muted-foreground: var(--primary-text);

    --accent: var(--primary-background)
    --accent-foreground: var(--highlight);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: var(--secondary-background);
    --input: var(--secondary-background);
    --ring: var(--highlight);

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
